.modal-header
    button.close(ng-click='$close()') &times;
    h4.modal-title Plugins settings
.modal-body.settings_modal
    .media(ng-repeat='plugin in plugins')
        button.btn.btn-default.pull-right(ng-show='plugin.hasWidget && !plugin.active', ng-click='activate(plugin)') Add to dashboard
        button.btn.btn-danger.pull-right(ng-show='plugin.active', ng-click='deactivate(plugin)') Remove
        h4.media-heading {{plugin.name}}
        div Class name: {{plugin.module}}
        div(ng-if='plugin.hasDashboard')
            a(ng-href='{{getDashboardUrl(plugin)}}')
                span.glyphicon.glyphicon-share-alt
                | View dashboard
.modal-footer.text-center.settings_modal_footer
    button.btn.btn-primary(ng-click='$close()') Ok