<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:camelot-web-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Jersey Spring Web Application</servlet-name>
        <servlet-class>ru.yandex.qatools.camelot.spring.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>ru.yandex.qatools.camelot.Application</param-value>
        </init-param>
        <async-supported>true</async-supported>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Spring Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Atmosphere -->
    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>ru.yandex.qatools.camelot.web.core.AtmosphereServlet</servlet-class>
        <init-param>
            <param-name>org.atmosphere.cpr.packages</param-name>
            <param-value>ru.yandex.qatools.camelot.web.core</param-value>
        </init-param>
        <init-param>
            <param-name>org.atmosphere.websocket.messageContentType</param-name>
            <param-value>application/json</param-value>
        </init-param>
        <async-supported>true</async-supported>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/websocket/*</url-pattern>
    </servlet-mapping>

    <!-- Wro4j config -->
    <filter>
        <filter-name>WebResourceOptimizer</filter-name>
        <filter-class>ru.yandex.qatools.camelot.web.wro.WroFilter</filter-class>
        <init-param>
            <param-name>configuration</param-name>
            <param-value>DEPLOYMENT</param-value>
        </init-param>
        <init-param>
            <param-name>managerFactoryClassName</param-name>
            <param-value>ru.yandex.qatools.ru.yandex.qatools.camelot.web.wro.ConfigurableWroManagerFactory</param-value>
        </init-param>
        <init-param>
            <param-name>uriLocators</param-name>
            <param-value>pluginsResourceLocator,servletContext,classpath,uri</param-value>
        </init-param>
        <init-param>
            <param-name>preProcessors</param-name>
            <param-value>cssImport,semicolonAppender,lessCss.less,coffeeScript.coffee,pluginsCssUrlRewriting</param-value>
        </init-param>
        <init-param>
            <param-name>postProcessors</param-name>
            <param-value>cssVariables,cssMinJawr,googleClosureSimple</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WebResourceOptimizer</filter-name>
        <url-pattern>/wro/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.jade</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.jade</location>
    </error-page>

</web-app>
