- helper = this.getViewHelper()
- plugin = this.getPlugin()
script
    angular.module('camelotUtil').value('pluginId', '#{plugin.getId()}')
div(ng-app="#{plugin.pluginClass}.dashboard")
    != helper.renderPluginDashboard(plugin)
