h1
    | Plugins
.tree.well
    ul
        li
            span.label.label-primary INPUT
            ul
                != view.render("routes-tree-branch.jade", {"children": this.getPluginTree().getChildren(), "depth": 0})
