h1
    | Plugins
    - display = "none"
    if this.webfront().isLoading()
        - display = "none"
    button.reload-plugins.btn.btn-default(type="button", style="display: #{display}") Reload plugins!
    - display = "none"
    if this.webfront().isLoading()
        - display = "block"
    .progress.progress-striped.active.reload-plugins-loader(style='display: #{display}')
        .progress-bar(role='progressbar', style='width:100%;')
.tree.well
    ul
        li
            span.label.label-primary INPUT
            ul
                != view.render("routes-tree-branch.jade", {"children": this.getPluginTree().getChildren(), "depth": 0})
